
.banner_taital
{
    -webkit-text-stroke: 2px #30336b;
}

.logo-name
{
    animation: logo 5s infinite;
}

@keyframes logo 
{
    0% { -webkit-text-stroke: 1px #00b894; }
    25% { -webkit-text-stroke: 1px #00cec9; }
    50% { -webkit-text-stroke: 1px #0984e3; }
    75% { -webkit-text-stroke: 1px #d63031; }
    100% { -webkit-text-stroke: 1px #fdcb6e; }
}

