*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ========== Main ========== */
#main
{
    width: 90%;
    height: 725px;
    margin: 10px 5%;
    /* background-color: lightblue; */
    /* outline: 5px groove blue; */
    border: none;
    border-radius: 25px;
    display: flex;
}
/* ---------- Left ---------- */
.left
{
    width: 19.2%;
    height: 725px;
    /* background-color: lightcyan; */
}
.left-1
{
    width: 100%;
    height: 140px;
    /* background-color: green; */
}

.left-1 img
{
    width: 100%;
    height: inherit;
    border: none;
    border-top-left-radius: 25px;
}

.left-2
{
    width: 100%;
    height: 150px;
    margin-top: 10px;
    /* background-color: green; */
}

.left-2 img
{
    width: 100%;
    height: inherit;
}

.left-3
{
    width: 100%;
    height: 275px;
    margin-top: 10px;
    /* background-color: green; */
}

.left-3 img
{
    width: 100%;
    height: inherit;
}

.left-4
{
    width: 100%;
    height: 130px;
    margin-top: 10px;
    /* background-color: green; */
}

.left-4 img
{
    width: 100%;
    height: inherit;
    border: none;
    border-bottom-left-radius: 25px;
}

/* ---------- Left-Center ---------- */

.left-center
{
    width: 19.2%;
    height: 725px;
    margin-left: 1%;
    /* background-color: red; */
}

.left-center-1
{
    width: 100%;
    height: 120px;
    /* background-color: green; */
}
.left-center-1 img
{
    width: 100%;
    height: inherit;
}

.left-center-2
{
    width: 100%;
    height: 150px;
    margin-top: 10px;
    /* background-color: green; */
}
.left-center-2 img
{
    width: 100%;
    height: inherit;
}

.left-center-3
{
    width: 100%;
    height: 320px;
    margin-top: 10px;
    /* background-color: green; */
}
.left-center-3 img
{
    width: 100%;
    height: inherit;
}

.left-center-4
{
    width: 100%;
    height: 105px;
    margin-top: 10px;
    /* background-color: green; */
}
.left-center-4 img
{
    width: 100%;
    height: inherit;
}

/* ---------- Center ---------- */
.center
{
    width: 19.2%;
    height: 725px;
    margin-left: 1%;
    /* background-color: red; */
}
.center-1
{
    width: 100%;
    height: 160px;
    /* background-color: green; */
}
.center-1 img
{
    width: 100%;
    height: inherit;
} 

.center-2
{
    width: 100%;
    height: 220px;
    margin-top: 10px;
    /* background-color: green; */
}
.center-2 img
{
    width: 100%;
    height: inherit;
}

.center-3
{
    width: 100%;
    height: 325px;
    margin-top: 10px;
    /* background-color: green; */
}
.center-3 img
{
    width: 100%;
    height: inherit;
}

/* ---------- Right-Center ---------- */
.right-center
{
    width: 19.2%;
    height: 725px;
    margin-left: 1%;
    /* background-color: red; */
}
.right-center-1
{
    width: 100%;
    height: 140px;
    /* background-color: green; */
}
.right-center-1 img
{
    width: 100%;
    height: inherit;
}

.right-center-2
{
    width: 100%;
    height: 180px;
    margin-top: 10px;
    /* background-color: green; */
}
.right-center-2 img
{
    width: 100%;
    height: inherit;
}

.right-center-3
{
    width: 100%;
    height: 140px;
    margin-top: 10px;
    /* background-color: green; */
}
.right-center-3 img
{
    width: 100%;
    height: inherit;
}

.right-center-4
{
    width: 100%;
    height: 235px;
    margin-top: 10px;
    /* background-color: green; */
}
.right-center-4 img
{
    width: 100%;
    height: inherit;
}

/* ---------- Right ---------- */
.right
{
    width: 19.2%;
    height: 725px;
    margin-left: 1%;
    /* background-color: red; */
}
.right-1
{
    width: 100%;
    height: 230px;
    /* background-color: green; */
}
.right-1 img
{
    width: 100%;
    height: inherit;
    border: none;
    border-top-right-radius: 25px;
}

.right-2
{
    width: 100%;
    height: 335px;
    margin-top: 10px;
    /* background-color: green; */
}
.right-2 img
{
    width: 100%;
    height: inherit;
}

.right-3
{
    width: 100%;
    height: 140px;
    margin-top: 10px;
    /* background-color: green; */
}
.right-3 img
{
    width: 100%;
    height: inherit;
    border: none;
    border-bottom-right-radius: 25px;
}





