*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /* Font-color White */
    color: #ffffff;
    font-family: verdana;
}
*::selection
{
    background-color: #ffc220;
    color: #303030;
}
html
{
    scroll-behavior: smooth;
}

/* ->->->| Main Header-START |<-<-<- */
#header
{
    width: 100%;
    height: 700px;
    background: url(img/Full\ width\ Dark\ Bg.png);
    /* background: transparent; */
    /* Horizontal Div Lavva */
    display: flex;
    position: relative;
}
/* ========== left-header ========== */
#left-header
{
    width: 35%;
    height: inherit;
    background: url(img/Header\ -\ Food\ Item.png);
    background-repeat: no-repeat;
    /* Width & Height Ma Set Karva */
    background-size: contain;
}
/* ===== Center Shape Header ===== */
#center-shape-header
{
    width: 15%;
    height: 760px;
    /* Img ne Left-Top Move Karva */
    margin-left: -9%;
    margin-top: -4%;
    background: url(img/Header\ Left\ Designer\ Shape.png);
    /* background: transparent; */
}
/* ======= Right-header ======= */
#right-header
{
    width: 60%;
    height: inherit;
    /* Image ne Add Karva */
    background: url(img/Vector\ Smart\ Object\ \(Double\ Click\ to\ Edit\).png);
    /* background: transparent; */
}
/* ========== Navigation ========== */
#navigation
{
    width: 100%;
    height: 90px;
    /* background-color: #303030; */
    position: absolute;
    top: 0;
    /* div ne Horizontal Lavva Mate */
    display: flex;
}
/* ========== Logo ========== */
#logo
{
    width: 15%;
    height: 90px;
    /* left thi Move Karva */
    margin-left: 3%;
    /* background-color: red; */
}
#logo img
{
    width: 90%;
    height: 45px;
    /* T.R.B.L Set Karva */
    margin: 20px 5% 25px 5%;
}
/* ========== Navbar ========== */
nav
{
    width: 60%;
    height: 90px;
    /* left-right set karva */
    position: absolute;
    left: 40%;
    z-index: 1;
    /* background-color: blue; */
}
nav a
{
    /* background-color: red; */
    font-size: 24px;
    line-height: 90px;
    padding: 5px 30px;
}
nav a:hover
{
    color: #ffc220;
}
.fa-magnifying-glass:hover
{
    color: #ffc220;
}


/* ===== For Mobile 480px Media Query -> START ===== */
#For-Mobile-MQ-Nav
{
    width: 40%;
    height: 70px;
    margin-left: 10%;
    /* left-right set karva */
    margin-left: 0;
    /* background-color: green; */
    display: none;
}
#Toggle-Menu
{
    width: 100%;
    height: 70px;
    margin-left: 50%;
    /* background-color: red; */
    text-align: center;
    line-height: 70px;
    display: flex;
}
#Toggle-Menu i
{
    width: 50%;
    font-size: 25px;
    line-height: 70px;
}
.Search-Box
{
    width: 300px;
    height: 35px;
    margin-left: 60%;
    margin-top: 5px;
    /* background-color: bisque;  */
    display: none;
}
.Search-Box input
{
    width: 100%;
    height: inherit;
    border: none;
    background-color: #303030;
    color: #ffc220;
    font-size: 18px;
    padding-left: 10px;
    border: 1px solid #ffc220;
    /* outline: 2px solid #ffc220; */
    /* outline-offset: 2px; */
    /* border-bottom: 2px solid #ffc220;
    border-left: 2px solid #ffc220;
    border-right: 2px solid #ffc220; */
    border-radius: 50px;
    box-shadow: 0 0 5px #ffc220;
}
.Search-Box input:focus
{
    outline: 1px solid #ffc220;
    outline-offset: 3px;
}
#For-Mobile-MQ-Nav ul
{
    width: 100%;
    height: auto;
    /* list ne Horizontal lavva mate */
    /* background-color: #ffc220; */
    display: none;
}
#For-Mobile-MQ-Nav ul li
{
    width: 100%;
    height: 40px;
    margin-left: 50%;
    font-size: 20px;
    background-color: #303030;
    /* height ma Center Lavva */
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #ffc220;
}
#For-Mobile-MQ-Nav ul li:last-child
{
    border: none;
}
#For-Mobile-MQ-Nav ul li a
{
    cursor: pointer;
}
#For-Mobile-MQ-Nav ul li:hover a
{
    color: #ffc220;
}
#search-btn
{
    width: 10%;
    height: 90px;
    font-size: 30px;
    margin-right: 10px;    
}


/* ===== For Mobile 480px Media Query -> END ===== */

/* ======= Header Content ======= */
#header-content
{
    width: 70%;
    height: inherit;
    /* left thi move karavva */
    margin-left: 30%;
    /* background-color: red; */
    position: absolute;
}
/* ===== On-Header-Content =====  */
#on-header-content
{
    width: 100%;
    height: 610px;
    /* top thi move karavva */
    margin-top: 90px;
    /* background-color: green; */
    position: relative;
}
/* ========== Title ========== */
#title
{
    width: 80%;
    height: 150px;
    /* background-color: blue; */
    /* Screen ma T.R.b.L. Set karva */
    position: absolute;
    top: 100px;
    left: 20%;
}
#title img
{
    width: 45%;
    height: 110px;
}
/* ========== Para ========== */
#para
{
    width: 55%;
    height: 135px;
    /* background-color: darkblue; */
    text-align: justify;
    font-size: 27px;
    /* Screen ma T.R.b.L. Set karva */
    position: absolute;
    top: 250px;
    left: 20%;
}
/* ===== Order Now Button ===== */
#order-now-btn
{
    width: 220px;
    height: 45px;
    background-color: #ffc220;
    box-shadow: 0px 0px 5px #303030;
    /* radius aapva */
    border-radius: 5px;
    text-align: center;
    line-height: 45px;
    /* Screen ma T.R.b.L. Set karva */
    position: absolute;
    top: 385px;
    left: 20%;
}
#order-now-btn a
{
    color: #303030;
    font-size: 20px;
}
/* +++++ Hover -> Order-now +++++ */
#order-now-btn:hover
{
    background-color: #303030;
    border: 2px solid #ffc220;
    line-height: 44px;
    transition: 0.3s ease;
}
#order-now-btn:hover a
{
    color: #ffc220;
    font-size: 18px;
    transition: 0.3s ease;
}
/* ===== All Vector Img START ===== */
.fudino
{
    width: 110px;
    /* Screen ma T.R.b.L. Set karva */
    position: absolute;
    top: 160px;
    left: 30px;
}
.capsicum
{
    /* Screen ma T.R.b.L. Set karva */
    position: absolute;
    right: 210px;
    top: 10px;
}
.cutted-vegetable
{
    width: 100px;
    /* Screen ma T.R.b.L. Set karva */
    position: absolute;
    bottom: 25px;
    left: 360px;
}
.garlik
{
    width: 90px;
    /* Screen ma T.R.b.L. Set karva */
    position: absolute;
    right: 100px;
    bottom: 150px;
}
.small-veg
{
    /* Screen ma T.R.b.L. Set karva */
    position: absolute;
    bottom: 25px;
    right: 200px;
}
.small-round-1
{
    /* Screen ma T.R.b.L. Set karva */
    position: absolute;
    left: 190px;
}
.small-round-2
{
    /* Screen ma T.R.b.L. Set karva */
    position: absolute;
    top: 180px;
    right: 150px;
}
.small-round-3
{
    /* Screen ma T.R.b.L. Set karva */
    position: absolute;
    bottom: 80px;
    left: 200px;
}
.small-round-4
{
    /* Screen ma T.R.b.L. Set karva */
    position: absolute;
    bottom: 50px;
    right: 420px;
}
/* ===== All Vector Img END ===== */
/* ->->->| Main Header-ENDa |<-<-<- */











/* ->->| Best-Seller -> START |<-<- */
#main-best-seller
{
    width: 100%;
    height: 850px;
    /* background-color: lightblue; */
    position: relative;
}

#Best-seller-title
{
    width: 100%;
    height: 100px;
    /* background-color: lightcyan; */
    text-align: center;
    position: absolute;
    top: 100px;
}

#content-BS
{
    width: 100%;
    height: 50px;
    /* background-color: lightgrey; */
    color: #303030;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 200px;
}

#three-food-item
{
    width: 100%;
    height: 370px;
    /* background-color: lightcyan; */
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 300px;
}

.left-food-dish
{
    width: 250px;
    height: 370px;
    /* background-color: red; */
}
.center-food-dish
{
    width: 250px;
    height: 370px;
    /* background-color: red; */
}
.right-food-dish
{
    width: 250px;
    height: 370px;
    /* background-color: red; */
}

.food-dish-photo
{
    width: 100%;
    height: 250px;
    /* background-color: blue; */
    /* border-radius: 50%; */
}
.food-dish-photo img
{
    width: 100%;
    height: inherit;
    border-radius: 50%;
}
.food-dish-title
{
    height: 50px;
    /* background-color: red; */
    text-align: center;
    margin-top: 10px;
}
.food-dish-para
{
    text-align: center;
    margin-top: 10px;
    color: #303030;
}
/* ->->| Best-Seller -> END |<-<- */











/*->->| Oriental Taste -> START |<-<-*/
#oriental-top-shape
{
    width: 109.8%;
    height: 600px;
    background: url(img/Top\ Designer\ Shape.png);
    background-size: 110%;
    left: -9.8%;
    position: relative;
}

.left-oriental
{
    width: 25%;
    height: 375px;
    border-radius: 50%;
    position: absolute;
    left: 300px;
    top: 125px;
    
}
.oriental-taste
{
    
    position: absolute;
    top: 210px;
    right: 300px;
}
.oriental-para
{
    width: 40%;
    height: 100px;
    /* background-color: green; */
    font-size: 23px;
    position: absolute;
    top: 330px;
    right: 70px;
}

#oriental-order-btn
{
    width: 250px;
    height: 45px;
    background-color: #ffc220;
    box-shadow: 0px 0px 5px #303030;
    /* radius aapva */
    border-radius: 5px;
    text-align: center;
    line-height: 45px;
    /* Screen ma T.R.b.L. Set karva */
    position: absolute;
    top: 460px;
    right: 480px;
}
#oriental-order-btn a
{
    color: #303030;
    font-size: 19px;
}
/* +++++ Hover -> Order-now +++++ */
#oriental-order-btn:hover
{
    background-color: #303030;
    border: 2px solid #ffc220;
    line-height: 43px;
}
#oriental-order-btn:hover a
{
    color: #ffc220;
    /* font-size: 18px; */
}
/*->->| Oriental Taste -> END |<-<-*/











/*->->| Statistics -> START |<-<-*/
#main-statistics
{
    width: 100%;
    height: 600px;
    background: url(img/Full\ width\ Dark\ Bg.png);
    /* background-color: darkgreen; */
    position: relative;
}

#statistics-title
{
    width: 100%;
    height: 110px;
    /* background-color: blue; */
    position: absolute;
    top: 100px;
    text-align: center;
}
#statistics-para
{
    width: 100%;
    height: 70px;
    /* background-color: green; */
    text-align: center;
    font-size: 22px;
    position: absolute;
    top: 200px;
}

#O-C-M-C
{
    width: 75%;
    height: 200px;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 330px;
    left: 10%;
    right: 15%;
}
.outlets
{
    width: 200px;
    height: 200px;
    background-color: #303030;
    border: 4px solid #ffffff;
    border-radius: 50%;
    text-align: center;
    padding-top: 60px;
    font-size: 24px;
    font-weight: 600;
}
.outlets span
{
    
    font-size: 35px;
    font-weight: 900;
    color: #ffc220;
}

.fudino-2
{
    position: absolute;
    top: 150px;
    left: 50px;
}
.small-veg-2-1
{
    position: absolute;
    top: 50px;
    left: 430px;
}
.small-veg-2-2
{
    position: absolute;
    top: 230px;
    right: 150px;
}
.capsicum-2
{
    position: absolute;
    right: 350px;
    top: 30px;
}
.garlik-2
{
    position: absolute;
    right: 70px;
    bottom: 80px;
}
/*->->| Statistics -> END |<-<-*/





/*->->| Chicken Grill -> START |<-<-*/
#temporary-dark-box
{
    width: 100%;
    height: 365px;
    background: url(img/Full\ width\ Dark\ Bg.png);
    /* background-color: red; */
    position: absolute;
    z-index: 0;
}
#main-chicken-grill
{
    width: 100%;
    height: 550px;
    background: url(img/Bottom\ Designer\ Shape.png);
    background-repeat: round;
    position: absolute;
    top: 2730px;
    left: -5%;
    z-index: 1;
}    
#sub-chicken-grill
{
    width: 100%;
    height: 550px;
    margin-left: 5%;
    /* background-color: red; */
    position: relative;
}
.chicken-grill-title
{
    position: absolute;
    top: 100px;
    left: 150px;
}
.chicken-grill-para
{
    font-size: 25px;
    position: absolute;
    top: 220px;
    left: 150px;
}

#Chicken-grill-order-btn
{
    width: 275px;
    height: 45px;
    background-color: #ffc220;
    box-shadow: 0px 0px 5px #303030;
    /* radius aapva */
    border-radius: 5px;
    text-align: center;
    line-height: 45px;
    /* Screen ma T.R.b.L. Set karva */
    position: absolute;
    top: 375px;
    left: 150px;
}
#Chicken-grill-order-btn a
{
    color: #303030;
    font-size: 19px;
}
/* +++++ Hover -> Order-now +++++ */
#Chicken-grill-order-btn:hover
{
    background-color: #303030;
    border: 2px solid #ffc220;
    line-height: 43px;
}
#Chicken-grill-order-btn:hover a
{
    color: #ffc220;
    /* font-size: 18px; */
}

.chicken-grill-photo
{
    width: 425px;
    height: 425px;
    border-radius: 50%;
    position: absolute;
    top: 80px;
    right: 150px;
}

/*->->| Chicken Grill -> END |<-<-*/











/*->->| Lenora Fields -> START |<-<-*/
#lenora-fields
{
    width: 100%;
    height: 700px;
    margin-top: 600px;
    /* background-color: red; */
    background: url(img/Header\ type\ Food\ Dish\ Large.png);
    background-repeat: round;
    position: relative;
}
.yellow-over-bg
{
    width: 100%;
    height: inherit;
    opacity: 0.7;
    
}
.lenora-fields-para
{
    width: 60%;
    height: 150px;
    /* background-color: red; */
    color: #303030;
    letter-spacing: 1px;
    font-size: 36px;
    text-align: justify;
    position: absolute;
    top: 200px;
    left: 20%;
    right: 20%;
}
.text-lenova-fields
{
    position: absolute;
    top: 400px;
    left: 600px;
    
}
/*->->| Lenora Fields -> END |<-<-*/










/*->->| Subscribe -> START |<-<-*/
#main-subscribe
{
    width: 100%;
    height: 750px;
    /* background-color: lightblue; */
    position: relative;
}
.subscribe-text
{
    position: absolute;
    top: 150px;
    left: 40%;
}
.subscribe-para
{
    width: 60%;
    height: 100px;
    /* background-color: red; */
    color: #303030;
    text-align: center;
    font-size: 30px;
    position: absolute;
    top: 275px;
    left: 20%;
    right: 20%;
}
#sub-subscribe
{
    width: 50%;
    height: 50px;
    /* background-color: yellowgreen; */
    box-shadow: 0px 0px 3px black;
    position: absolute;
    top: 400px;
    left: 25%;
    right: 25%;
}
#sub-subscribe form
{
    width: 100%;
    height: 50px;
    display: flex;
}
#email
{
    width: 70%;
    height: 50px;
    font-size: 20px;
    padding: 0px 10px;
    border: none;
    /* background-color: white; */
    color: #303030;
}
#email:focus
{
    outline: none;
    color: #303030;
}

#subscribe
{
    width: 30%;
    height: 50px;
    background-color: #ffc220;
    color: #303030;
    border: none;
    font-size: 20px;
    font-weight: 600;
}
#subscribe:hover
{
    background-color: #303030;
    color: #ffc220;
}

.fudino-3
{
    position: absolute;
    top: 175px;
    left: 50px;
}
.capsicum-3-1
{
    position: absolute;
    top: 30px;
    right: 300px;
}
.capsicum-3-2
{
    position: absolute;
    bottom: 60px;
    left: 375px;
    transform: rotate(70deg);
}
.cutted-veg-3
{
    position: absolute;
    bottom: 40px;
    right: 525px;
}
.garlik-3
{
    position: absolute;
    right: 75px;
    bottom: 250px;
}
.small-veg-3-1
{
    position: absolute;
    top: 50px;
    left: 350px;
}
.small-veg-3-2
{
    position: absolute;
    top: 200px;
    right: 100px;
}
.small-veg-3-3
{
    position: absolute;
    bottom: 50px;
    left: 100px;
}
.small-veg-triangle
{
    position: absolute;
    bottom: 70px;
    right: 175px;
}
/*->->| Subscribe -> END |<-<-*/











/*->->| Footer -> START |<-<-*/
#main-footer
{
    width: 100%;
    height: 700px;
    background-color: #303030;
    display: flex;
}

#left-footer
{
    width: 40%;
    height: 700px;
    /* background-color: yellowgreen; */
    position: relative;
}
.footer-title
{
    width: 60%;
    height: 70px;
    /* background-color: yellow; */
    position: absolute;
    top: 200px;
    left: 15%;
    right: 15%;
}
.footer-title img
{
    width: 80%;
    height: 80px;
}

.footer-para
{
    font-size: 20px;
    position: absolute;
    top: 320px;
    left: 15%;
}
#icons
{
    width: 30%;
    height: 40px;
    /* background-color: blue; */
    position: absolute;
    top: 450px;
    left: 15%;
}
#icons i
{
    width: 35px;
    height: 35px;
    margin-left: 5px;
    text-align: center;
    line-height: 35px;
    background-color: white;
    color: #303030;
    border-radius: 50%;
    font-size: 24px;
}
#icons i:hover
{
    width: 35px;
    height: 35px;
    margin-left: 5px;
    text-align: center;
    line-height: 35px;
    background-color: #ffc220;
    color: #ffffff;
    border-radius: 50%;
    font-size: 23px;
}


#right-footer
{
    width: 50%;
    height: inherit;
    /* background-color: darkblue; */
    position: relative;
    left: 5%;
    right: 5%;
}
#about-footer
{
    width: 30%;
    height: 200px;
    /* background-color: darkcyan; */
    position: absolute;
    top: 220px;
}
#services-footer
{
    width: 30%;
    height: 200px;
    /* background-color: darkcyan; */
    position: absolute;
    top: 220px;
    left: 35%;
}
#other-footer
{
    width: 30%;
    height: 200px;
    /* background-color: darkcyan; */
    position: absolute;
    top: 220px;
    left: 70%;
}


h2
{
    width: 100%;
    height: 40px;
    font-size: 25px;
    margin-bottom: 10px;
}
span
{
    display: block;
    height: 30px;
    font-size: 20px;
}
span:hover a
{
    color: #ffc220;
}


/*->->| Footer -> END |<-<-*/






