
@media  (min-width: 650px) and (max-width: 1150px) 
{

    


    @import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Montserrat:ital,wght@1,900&family=Rampart+One&family=Rubik:wght@300&display=swap');


    *
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
        color: #333;
        /* color: #565360; */
        font-family: sans-serif;
    }
    *::selection
    {
        background-color: orangered;
        color: #fff;
    }
    body input[type="checkbox"]
    {
        accent-color: orangered;
    }
    




    
/* ========== HEADER -> START ========== */
header
{
    width: 100%;
    height: 90px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 0 10px black;

    display: none;
}
#header
{
    width: 80%;
    height: inherit;
    margin: 0px 10%;
    background-color: white;
    /* Inline ma Show Karavva */
    display: flex;
}
/* ---------- Header Logo ----------  */
.logo
{
    width: 10%;
    height: 90px;
    /* background-color: lavender; */
}
.logo img
{
    width: 90%;
    height: 70px;
    margin: 10px 5%;
}
/* ---------- Header Search Box ----------  */
.search-header
{
    width: 19%;
    height: 90px;
    /* background-color: lightgoldenrodyellow; */
}
.main-search-haeder
{
    width: 70%;
    height: 40px;
    margin: 25px 15%;
    /* Inline ma Show Karavva */
    display: flex;
    /* background-color: lightblue; */
}

.main-search-haeder .material-symbols-outlined 
{
    width: 12%;
    height: 40px;
    /* background-color: lavender; */
    color: orangered;
    font-size: 16px;
    font-weight: 300;
    /* Height ma Center Show Karvva */
    line-height: 40px;
}
.main-search-haeder h6
{
    width: 76%;
    height: 40px;
    line-height: 40px;
    /* Text ne Center Ma Show Karvva */
    text-align: center;
    /* background-color: lightcyan; */
    font-family: arial;
    font-size: 14px;
    font-weight: lighter;
    opacity: 0.7;
}
.main-search-haeder i
{
    width: 12%;
    height: 40px;
    /* background-color: red; */
    font-size: 15px;
    color: orangered;
    line-height: 40px;
    /* Icon ne Center Ma Show Karvva */
    text-align: center;
}
/* ---------- Header Navbar ---------- */
.navbar
{
    width: 50%;
    height: 90px;
    /* background-color: aqua; */
    display: flex;
}
.navbar .nav 
{
    font-size: 12px;
    font-weight: 600;
    margin: 39px 20px 39px 4px;
    /* line-height: 90px; */
}
.navbar .nav a
{
    color: #333;;
}
.navbar .nav a:hover
{
    color: orangered;
}
.navbar .nav:nth-child(5)
{
    width: 130px;
    height: 30px;
    margin-top: 30px;
    background-color: #fc4412;
    font-size: 13px;
    border: none;
    border-radius: 25px;
    text-align: center;
    line-height: 30px;
    position: relative;
}
.navbar .nav:nth-child(5) a
{
    color: #fff;
}
.navbar .nav:nth-child(5):hover
{
    background-color: rgb(220, 60, 0);
}

.navbar .new:last-child
{
    width: 45px;
    height: 20px;
    background-color: whitesmoke;
    /* background-color: whitesmoke; */
    box-shadow: 0px 0px 1px black;
    border: none;
    border-radius: 25px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    right: 425px;
    top: 17px;
}
.navbar .new:last-child a
{
    color: #e74c3c;
    font-size: 13px;
    font-weight: 600;
}
/* ---------- Header Login ---------- */
.login-part
{
    width: 21%;
    height: 90px;
    /* background-color: lightgray; */
    display: flex;
}
/* ---------- Login ----------  */
.login
{
    width: 46%;
    height: 90px;
    /* background-color: lavender; */
    display: flex;
}
.login .login-text
{
    margin-left: 30px;
    font-size: 15px;
    font-weight: 600;
    line-height: 90px;
}
.login .login-icon span
{
    font-size: 25px;
    font-weight: 300;
    line-height: 90px;
    margin-left: 5px;
}

/* >>>>>>>>>>| LOGIN -> END |<<<<<<<<<<  */
/* >>>>>>>>>>| LOGIN -> END |<<<<<<<<<<  */

/* ---------- bell ---------- */
.bell
{
    width: 18%;
    height: 90px;
    display: flex;
    /* background-color: lavenderblush; */
    padding-left: 10px;
}
.bell span
{
    line-height: 90px;
    font-size: 30px;
    font-weight: 300;
    position: relative;
}
.notifications-count
{
    width: 15px;
    height: 15px;
    background-color: orangered;
    border: none;
    border-radius: 50px;
    text-align: center;
    line-height: 15px;
    color: aliceblue;
    font-size: 12px;
    position: absolute;
    top: 31px;
    right: 250px;
}

/* ===== Notification -> START ===== */
#notifications
{
    width: 23%;
    height: 420px;
    background-color: white;
    box-shadow: 0 0 10px silver;
    border-radius: 10px;
    overflow-y: scroll;
    display: none;
    position: absolute;
    right: 170px;
    top: 90px;
}
#close-icon
{
    width: 100%;
    height: 30px;
    /* background-color: yellowgreen; */
    text-align: right;
}
#close-icon i
{
    font-size: 20px;
    padding: 5px 10px 5px 0;
}

#no-notification
{
    width: 100%;
    height: 50px;
    /* background-color: yellow; */
    font-family: 'Rubik', sans-serif;   
    font-weight: 900;
    font-size: 14px;
    padding: 5px 0 0 25px;
}
/* ===== Notification -> END ===== */

/* ---------- Shooping Cart ----------  */
.cart
{
    width: 18%;
    height: 90px;
    display: flex;
    /* background-color: lavender; */
    padding-left: 10px;
}
.cart span
{
    line-height: 90px;
    font-size: 27px;
    font-weight: 300;
    position: relative;
}
.item-of-cart
{
    width: 15px;
    height: 15px;
    background-color: orangered;
    border: none;
    border-radius: 50px;
    text-align: center;
    line-height: 15px;
    color: aliceblue;
    font-size: 12px;
    position: absolute;
    top: 28px;
    right: 205px;
}

/* ========== Cart -> START ========== */
#cart-click
{
    width: 30%;
    height: 100vh;
    background-color: white;
    /* box-shadow: 0 0 10px silver; */
    display: none;
    position: absolute;
    right: 0;
}
#cart-head
{
    width: 100%;
    height: 90px;
    /* background-color: yellowgreen;   */
    display: flex;
}
#cart-head h3
{
    width: 70%;
    height: inherit;
    /* background-color: red; */
    text-transform: uppercase;
    line-height: 90px;
    font-size: 15px;
    padding-left: 25px;
}
#cart-head #icon
{
    width: 30%;
    height: inherit;
    /* background-color: yellow; */
    text-align: center;
    line-height: 90px;
    font-size: 20px;
}
/* ========== Cart -> END ========== */


/* ---------- 9 Dot Menu ---------- */
.dot-9
{
    width: 18%;
    height: 90px;
    display: flex;
    /* background-color: lavenderblush; */
    padding-left: 10px;
}
.dot-9 span
{
    line-height: 90px;
    font-size: 30px;
    font-weight: 500;
}

/*>>>>>|9 Dot All Menu List -> START|<<<<<*/
#All-Menu-main
{
    width: 100%;
    height: 100vh;
    background-color: white;
    margin-top: -90px;
    display: none;
    position: absolute;
    z-index: 2;
}

#All-Menu-Header
{
    width: 76%;
    height: 100px;
    margin: 0 12%;
    /* background-color: white; */
    display: flex;
}
#All-Menu-Header-Logo
{
    width: 90%;
    height: inherit;
    /* background-color: lightblue; */
}
#All-Menu-Header-Logo img
{
    padding: 10px 0px;
}

#All-Menu-Header-close
{
    width: 10%;
    height: inherit;
    /* background-color: yellow; */
    text-align: right;
    line-height: 110px;
}
#All-Menu-Header-close i
{
    font-size: 35px;
    color: #555;
}


#All-List-bg    
{
    width: 60%;
    height: 450px;
    margin: 50px 20% 0 20%;
    /* background-color: yellowgreen; */
    position: relative;
}
#All-List-bg img
{
    width: 100%;
    height: inherit;
    opacity: 0.1;
}
#All-List
{
    width: 100%;
    height: inherit;
    /* background-color: yellowgreen; */
    position: absolute;
    top: 0;
}

#All-List ul
{
    width: 100%;
    height: inherit;
    /* background-color: yellow; */
    display: flex;
    flex-wrap: wrap;
}
#All-List ul li
{
    width: 33%;
    height: 40px;
    /* background-color: lightblue; */
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
}
#All-List ul li:first-child a
{
    color: orangered;
    border-bottom: 2px solid orangered;
    padding-bottom: 5px;
}
#All-List ul li a:hover
{
    color: orangered;
    transition: 0.3s ease;
}
#All-List-Icons
{
    width: 14%;
    height: 100px;
    margin: 25px 43% 25px 43%;
    /* background-color: lightskyblue; */
    line-height: 100px;
    display: flex;
    justify-content: space-around;
}
#All-List-Icons i
{
    font-size: 25px;
    color: #d19772;
}
#All-List-Icons i:hover
{
    color: orangered;
}
/*>>>>>| 9 Dot All Menu List -> END |<<<<<*/


/* ========== Header Close ========== */

































  
/* ========== Header (480px) -> START ========== */
#Header-480
{
    width: 100%;
    height: 70px;
    background-color: #fff;
    box-shadow: 0 0 5px silver;
    position: sticky;
    top: 0;
    z-index: 10;

    display: block;
}
/* ----- Top Header 480 -> START ----- */
#Top-Header-480
{
    width: 90%;
    height: inherit;
    margin: 0 5%;
    /* background-color: yellowgreen; */
    display: flex;
}

/* ----- Top Header Logo -> START ----- */
#T-H-480-Logo
{
    width: 15%;
    height: inherit;
    /* background-color: green; */
    position: relative;
}
#T-H-480-Logo-Img
{
    width: 100%;
    height: 40px;
    /* background-color: green; */
    background: url(img/bbq-logo-theme.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 15px;
}
#T-H-480-Logo-Img:hover
{
    cursor: pointer;
}
/* ----- Top Header Logo -> END ----- */

/* ----- T-H-Location -> START ----- */
#T-H-Location
{
    width: 40%;
    height: inherit;
    /* background-color: lightblue; */
}
#T-H-Location-icon
{
    width: 10%;
    height: 20px;
    /* background-color: red; */
    color: #e74c3c;
    font-size: 14px;
}

#T-H-Location input
{
    width: 85%;
    height: 30px;
    margin: 20px 0 20px 0;
    font-size: 14px;
    background: url(img/Dropdown.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 14px;
    border: none;
}
#T-H-Location-List input:focus
{
    outline: none;
    caret-color: #e74c3c;
}

/* ----- T-H-Location List -> START ----- */
#T-H-Location-List-main
{
    width: 80%;
    height: 450px;
    background-color: white;
    box-shadow: 0 0 5px silver;
    position: absolute;
    top: 60px;
    left: 10px;

    display: none;
}
#T-H-Location-List
{
    width: 84%;
    height: 35px;
    margin: 8% 8% 5% 8%;
    background-color: white;
    color: #333;
    border-radius: 5px;
    border: 1px solid #e74c3c;
    padding: 0px 5px 0 15px;
    line-height: 35px;
    font-size: 14px;
    font-weight: bold;
}
#T-H-Location-List i
{
    padding-left: 220px;
    font-size: 14px;
    color: #e74c3c;
    transform: rotate(0deg);
}
/* ----- T-H-Location-Area-List -> START ----- */
#T-H-Location-Area-List
{
    width: 84%;
    height: 330px;
    margin: 5% 8%;
    background-color: white;
    box-shadow: 0 0 10px silver; 
    position: absolute;
    top: 65px;
    z-index: 1;
    display: none;
}
#search-area
{
    width: 94%;
    height: 25px;
    margin: 15px 3% 10px 3%;
    /* background-color: yellow; */
    border: none;
    border-bottom: 1px solid #fc4412;
    background: url(img/Search\ bar\ Image.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 20px;
}
#search-area:focus
{
    outline: none;
    caret-color: #e74c3c;
    font-size: 16px;
    padding-right: 25px;
}
#list-of-area
{
    width: 94%;
    height: 270px;
    margin: 10px 3% 0 3%;
    /* background-color: #fff; */
    overflow: scroll;
    /* overflow-x: scroll; */
}
#list-of-area optgroup
{
    /* width: 100%; */
    /* height: 30px; */
    background-color: #fff;
    line-height: 25px;
}
#list-of-area optgroup option
{
    width: 100%;
    height: 30px;
    padding: 0px 15px;
    background-color: #fff;
    font-size: 15px;
    line-height: 30px;
}
#list-of-area optgroup option:hover
{
    background-color: rgba(255, 68, 0, 0.5);
}


/* ----- T-H-Location-Area-List -> END ----- */


/* ----- T-H-Near_by-Location -> START ----- */
#T-H-Near_by-Location
{
    width: 84%;
    height: 60px;
    margin: 0 8%;
    background-color: white;
    box-shadow: 0 0 5px silver;
    position: relative;
    top: 0;
    left: 0;
    /* display: none; */
}
#T-H-Near_by-Location:hover
{
    cursor: pointer;
}
#T-H-Near_by_Location-icon
{
    width: 10%;
    height: inherit;
    /* background-color: yellow; */
    font-size: 18px;
    color: #555;
    padding: 15px 5px
}
#T-H-Near_by-Location a
{
    color: #e74c3c;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: -0.7px;
    position: absolute;
    top: 10px;
    left: 40px;
}
#T-H-Near_by-Location a span
{
    color: #999;
    font-size: 11px;
    font-weight: lighter;
    position: absolute;
    top: 20px;
}
/* ----- T-H-Near_by-Location -> END ----- */
/* ----- T-H-Location List -> END ----- */

/* ----- T-H-Delivery -> START ----- */
#T-H-Delivery
{
    width: 20%;
    height: inherit;
    /* background-color: lightskyblue; */
}
#T-H-BG-Img
{
    width: 40%;
    height: 30px;
    margin: 25px 30% 10px 30%;
    /* background-color: red; */
    background: url(img/delivery\ Boy.svg);
    background-repeat: no-repeat;
    background-size: 25px;
}
/* ----- T-H-Delivery -> END ----- */

/* ----- T-H-Cart -> START ----- */
#T-H-Cart
{
    width: 15%;
    height: inherit;
    background-color: transparent;
    /* display: inline-flex; */
    position: relative;
}
#T-H-Cart span
{
    font-size: 28px;
    padding-left: 30%;
    line-height: 70px;
}
#Added-Into-Cart
{
    width: 15px;
    height: 15px;
    background-color: orangered;
    color: #fff;
    text-align: center;
    line-height: 15px;
    border-radius: 50%;
    font-size: 12px;
    position: absolute;
    top: 25%;
    /* left: 0; */
    right: 35%;
}
/* ----- T-H-Cart -> END ----- */

/* ----- T-H-Toggle-Menu -> START ----- */
#T-H-Toggle-Menu
{
    width: 10%;
    height: inherit;
    /* background-color: yellowgreen; */
    text-align: center;
    line-height: 70px;
    font-size: 25px;


}

#T-H-Toggle-Menu-List
{
    width: 75%;
    height: 100vh;
    background-color: #fff;
    box-shadow: 0 0 10px silver;
    position: absolute;
    top: 0;
    right: 0;
    /* transition: 0.7 ease; */
    display: none;
}

#T-H-Toggle-Menu-List-Header
{
    width: 85%;
    height: 11vh;
    /* height: 90px; */
    margin: 0 5% 0 10%;
    border-bottom: 1px solid #ddd;
    /* background-color: #d19772; */
    display: flex;
}
#T-H-Toggle-Menu-List-Header-login 
{
    width: 30%;
    height: inherit;
    /* background-color: red; */
    position: relative;
}
#T-H-Toggle-Menu-List-Header-login span:first-child
{
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    color: #444;
    position: absolute;
    top: 50px;
}
#T-H-Toggle-Menu-List-Header-login span:last-child
{
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
    color: #444;
    position: absolute;
    top: 48px;
    left: 50px;
}

#T-H-Toggle-Menu-List-Header-Close
{
    width: 15%;
    height: inherit;
    margin: 0 0 0 55%;
    /* background-color: burlywood; */
    line-height: 120px;
    text-align: right;
}
#T-H-Toggle-Menu-List-Header-Close i
{
    font-size: 35px;
}

#T-H-Toggle-Menu-List-Lists
{
    width: 85%;
    height: 80vh;
    margin: 20px 5% 0 10%;
    /* background-color: darkorange; */
}
#T-H-Toggle-Menu-List-Lists ul
{
    width: 100%;
    height: 100%;
}
#T-H-Toggle-Menu-List-Lists > ul > li
{
    width: 100%;
    height: 5vh;
    font-size: 16px;
}
#T-H-Toggle-Menu-List-Lists > ul > li:first-child a
{
    color: #e74c3c;
    border-bottom: 1px solid #e74c3c;
    padding-bottom: 5px;
}
#T-H-Toggle-Menu-List-Lists > ul > li:hover a
{
    color: #e74c3c;
    border-bottom: 1px solid #e74c3c;
    padding-bottom: 5px;
}
/* ----- T-H-Toggle-Menu -> END ----- */
/* ----- Top Header 480 -> END ----- */








/*===== Bottom Header 480 -> START =====*/
#Bottom-Header-480
{
    width: 94%;
    height: 70px;
    background-color: #fff;
    box-shadow: 0 0 5px silver;
    border-radius: 2px;
    display: flex;
    margin: 80vh 3% 0 3%;
    /* position: relative; */
    /* top: 80vh; */
    /* left: 3%; */
    /* right: 3%; */
    position: fixed;
    z-index: 10;
}

#B-H-Delivery-Takeaway
{
    width: 26%;
    height: inherit;
    margin: 0 0 0 10%;
    /* background-color: yellow; */
    /* border-right: 1px solid #ddd; */
}
#B-H-Delivery-Takeaway-Top
{
    width: 100%;
    height: 40px;
    /* background-color: lightblue; */
    position: relative;
}
#B-H-D-T-Top-BG-Img
{
    width: 30%;
    height: inherit;
    /* background-color: red; */
    background: url(img/delivery\ Boy.svg);
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    top: 10px;
    left: 20%;
}
#B-H-Delivery-Takeaway-Bottom
{
    width: 100%;
    height: 30px;
    /* background-color: yellowgreen; */
    color: #111;
    font-size: 9px;
    line-height: 20px;
    text-transform: uppercase;
}
#B-H-Delivery-Takeaway-Top span
{
    background-color: #fff;
    color: #e74c3c;
    font-size: 10px;
    border-radius: 50px;
    padding: 2px 5px;
    box-shadow: 0 5px 10px silver;
    position: absolute;
    top: 18px;
    left: 50%;
    right: 20%;
}

#B-H-Login
{
    width: 26%;
    height: inherit;
    /* background-color: #d19772; */
    text-align: center;
    display: flex;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
#B-H-Login div
{
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 70px;
    padding-left: 20px;
}
#B-H-Login span
{
    width: 25%;
    height: inherit;
    /* background-color: green; */
    line-height: 70px;
}


#B-H-Reserve-Table
{
    width: 38%;
    height: inherit;
    margin: 0;
    /* background-color: yellow; */
    /* border-right: 1px solid #ddd; */
}
#B-H-Reserve-Table-Top
{
    width: 100%;
    height: 40px;
    /* background-color: lightblue; */
    position: relative;
}
#B-H-R-T-Top-BG-Img
{
    width: 30%;
    height: inherit;
    /* background-color: red; */
    background: url(img/Table-Reserve\ Small\ Icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 5px;
    left: 40%;
}
#B-H-Reserve-Table-Bottom
{
    width: 100%;
    height: 30px;
    /* background-color: yellowgreen; */
    color: #111;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    text-transform: uppercase;
}

/* ===== Bottom Header 480 -> END ===== */
/* ========== Header (480x) -> END ========== */










    
    
    /* ===== H-C-MAIN -> START ===== */
    #H-C-main
    {
        width: 100%;
        height: 1000px;
        /* background-color: red; */
    }
    /* ===== H-C-SUB -> START ===== */
    #H-C-sub
    {
        width: 92%;
        height: 1050px;
        margin: 0% 4%;
        background-color: white;
        border-bottom: 1px solid #ddd;
        border: none;
    }
    
    /* ----- Home / Hapiness Card ----- */
    #H-C-heading-page
    {
        width: 100%;
        height: 90px;
        padding: 15px 0px;
        /* background-color: yellow; */
        font-size: 14px;
        font-family: sans-serif;
        font-weight: 500;
        letter-spacing: 0.5px;
        color: black;

        /* display: none; */
    }
    #H-C-heading-page a
    {
        color: #666;
    }
    /* Filter - H-C for U - Sort by -> START */
    #F-H_C_For_U-Sort_by
    {
        width: 100%;
        height: 970px;
        /* background-color: lightblue; */
        display: flex;

    }













    /* Filter - H-C for U - Sort by -> END */
    /* ---------- Filter -> START ---------- */
    #filter
    {
        width: 100%;
        height: 1805px;
        /* background-color: yellowgreen; */
        /* border-right: 1px solid #ddd; */

        display: none;
    }
    
    .filter-title
    {
        width: 100%;
        height: 30px;
        margin-top: 10px;
        /* background-color: green; */
        font-size: 14px;
        font-family: nunito sans,sans-serif;
        font-weight: 600;
        /* border-bottom: 1px solid #ddd; */
    }
    
    #clear_all
    {
        width: 100%;
        height: 30px;
        /* background-color: cadetblue; */
        font-size: 12px;
        text-align: right;
        padding-top: 15px;
    }
    #clear_all a
    {
        color: #d19772;
    }
    
    .filter-price
    {
        width: 100%;
        height: 20px;
        /* background-color: cornflowerblue; */
        font-size: 13px;
        font-weight: 600;
    }
    
    #filter-price-range
    {
        width: 100%;
        height: 90px;
        /* background-color: aquamarine; */
        border-bottom: 1px solid #ddd;
    }
    #filter-price-range input
    {
        width: 90%;
        /* height: 30px; */
        margin-top: 50px;
        margin-left: 5%;
    }
    
    #filter-location
    {
        width: 100%;
        height: 80px;
        margin-top: 10px;
        /* background-color: cadetblue; */
        border-bottom: 1px solid #ddd;
    }
    #filter-location span
    {
        width: 100%;
        height: 20px;
        font-size: 12px;
        font-weight: 600;
        padding-left: 5%;
    }
    #filter-select-country
    {
        width: 100%;
        height: 50px;
    }
    #filter-select
    {
        width: 85%;
        height: 30px;
        margin: 10px 15% 0px 5%;
        background-color: white;
        border: none;
        border: 1px solid #e74c3c;
    }
    #filter-select option
    {
        font-size: 15px;
    }
    /* --------------------------- */
    #filter-places
    {
        width: 100%;
        height: 400px;
        /* background-color: lightcyan; */
        border-bottom: 1px solid #ddd;
    }
    #filter-places form 
    {
        width: 100%;
        height: inherit;
        font-size: 14px;
        line-height: 30px;
        margin: 20px 0px;
        padding: 0px 0px 0px 15px;
        overflow-y: scroll;
    }
    /* #filter-places form input[type="checkbox"]
    {
        accent-color: orangered;
    } */
    #filter-places form input
    {
        width: 10%;
        height: 16px;
    }
    .check-area
    {
        background-color: red;
        color: green;
        border: 2px solid red;
    }
    .check-area:hover
    {
        cursor: pointer;
        background-color: red;
        color: green;
    }
    /* ----------------------- */
    #filter-branch
    {
        width: 100%;
        height: 400px;
        margin-top: 15px;
        /* background-color: lightskyblue; */
        border-top: 1px solid #ddd;
    }
    .filter-branch-title
    {
        font-size: 12px;
        font-weight: 600;
        padding: 15px 0px 15px 15px;
    }
    #filter-branch-select
    {
        width: 100%;
        height: inherit;
        /* background-color: yellow; */
        padding: 0px 15px;
        overflow-y: scroll;
    }
    #filter-branch-select form
    {
        width: 100%;
        height: inherit;
        font-size: 14px;
    }
    #filter-branch-select form input
    {
        width: 10%;
        height: 16px;
        margin-top: 10px;
    }
    /* -------------------------- */
    #filter-treat_type
    {
        width: 100%;
        height: 130px;
        padding-top: 15px;
        /* margin-top: 60px; */
        /* background-color: #d19772; */
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }
    .filter-treat_type-title
    {
        width: 100%;
        height: 30px;
        /* background-color: antiquewhite; */
        font-size: 13px;
        font-weight: 600;
    }
    #filter-treat_type-D_L
    {
        width: 100%;
        height: 70px;
        padding: 0px 15px;
        /* background-color: lightgoldenrodyellow; */
    }
    #filter-treat_type-D_L form
    {
        width: 100%;
        height: inherit;
        font-size: 15px;
    }
    #filter-treat_type-D_L form input
    {
        width: 10%;
        height: 16px;
        margin-top: 10px;
    }
    /* -------------------------------- */
    #filter-food_classfication
    {
        width: 100%;
        height: 130px;
        padding-top: 15px;
        /* background-color: #d19772; */
        /* border-top: 1px solid #eee; */
        border-bottom: 1px solid #ddd;
    }
    .filter-food_classfication-title
    {
        width: 100%;
        height: 30px;
        /* background-color: antiquewhite; */
        font-size: 13px;
        font-weight: 600;
    }
    #filter-food_classfication-N_V
    {
        width: 100%;
        height: 70px;
        padding: 0px 15px;
        /* background-color: lightgoldenrodyellow; */
    }
    #filter-food_classfication-N_V form
    {
        width: 100%;
        height: inherit;
        font-size: 15px;
    }
    #filter-food_classfication-N_V form input
    {
        width: 10%;
        height: 16px;
        margin-top: 10px;
    }
    /* -------------------------------- */
    #filter-days_of_week
    {
        width: 100%;
        height: 280px;
        padding-top: 15px;
        /* background-color: #d19772; */
        /* border-top: 1px solid #eee; */
        border-bottom: 1px solid #ddd;
    }
    .filter-days_of_week-title
    {
        width: 100%;
        height: 30px;
        /* background-color: antiquewhite; */
        font-size: 13px;
        font-weight: 600;
    }
    #filter-days_of_week-days
    {
        width: 100%;
        height: auto;
        padding: 0px 15px;
        /* background-color: lightgoldenrodyellow; */
    }
    #filter-days_of_week-days form
    {
        width: 100%;
        height: inherit;
        font-size: 15px;
    }
    #filter-days_of_week-days form input
    {
        width: 10%;
        height: 16px;
        margin-top: 10px;
    }
    /* ---------------------------- */
    #filter-vouchers_type
    {
        width: 100%;
        height: 100px;
        padding-top: 15px;
        /* background-color: #d19772; */
        /* border-top: 1px solid #eee; */
        border-bottom: 1px solid #ddd;
    }
    .filter-vouchers_type-title
    {
        width: 100%;
        height: 30px;
        /* background-color: antiquewhite; */
        font-size: 13px;
        font-weight: 600;
    }
    #filter-vouchers_type-days
    {
        width: 100%;
        height: auto;
        padding: 0px 15px;
        /* background-color: lightgoldenrodyellow; */
    }
    #filter-vouchers_type-days form
    {
        width: 100%;
        height: inherit;
        font-size: 15px;
    }
    #filter-vouchers_type-days form input
    {
        width: 10%;
        height: 16px;
        margin-top: 10px;
    }
    /* ---------------------------- */
    
    
    #MQ-480-fixed-btn
    {
        width: 100%;
        height: 80px;
        margin-top: 5px;
        background-color: white;
        border-top: 1px solid #ddd;
        text-align: center;
        line-height: 80px;

        position: sticky;
        bottom: 0;
        display: block;
    }
    #MQ-480-fixed-btn #Apply
    {
        width: 25%;
        height: 40px;
        background: transparent;
        border: 1px solid #e74c3c;
        border-radius: 50px;
        font-size: 14px;
        text-transform: uppercase;
        color: #e74c3c;
    }
    #MQ-480-fixed-btn #Apply:hover
    {
        background-color: #e74c3c;
        color: #fff;
    }

    #MQ-480-fixed-btn #Cancel
    {
        width: 25%;
        height: 40px;
        margin-left: 20px;
        background: transparent;
        border: 1px solid #e74c3c;
        border-radius: 50px;
        font-size: 14px;
        text-transform: uppercase;
        color: #e74c3c;
    }

    #MQ-480-fixed-btn #Cancel:hover
    {
        background-color: #e74c3c;
        color: #fff;
    }

    /* ---------- Filter -> END ---------- */
    
    
    
    
    
    
    
    
    
    
    /* --- Happiness Card For You -> START --- */
    #H_C_F_Y
    {
        width: 100%;    
        height: 970px;
        /* background-color: lightsteelblue; */
        border-bottom: 1px solid #ddd;
        border: none;

        /* display: none; */
    }
    .H_C_F_Y-head
    {
        width: 100%;
        height: 50px;
        /* background-color: skyblue; */
        border-bottom: 1px solid #ddd;
        display: flex;

    }
    .H_C_F_Y-title
    {
        width: 70%;
        height: inherit;
        color: black;
        font-size: 18px;
        font-weight: 900;
        font-family: 'Rubik', sans-serif;
        text-shadow: 0 0 0.5px black;
    }
    .H_C_F_Y-sort_by_you
    {
        width: 30%;
        height: inherit;
        background-color: yellowgreen;
        position: relative;

        display: none;
    }
    #sort_by
    {
        width: 50%;
        height: 35px;
    }
    #sort_by button
    {
        width: 50%;
        height: 30px;
        padding: 0px 15px;
        line-height: 30px;
        text-align: left;
        border: 1px solid #e74c3c;
        border-radius: 50px;
        font-size: 14px;
        position: absolute;
        top: 7px;
        right: 20px;
        background: url(img/Dropdown.svg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 15px;
    }
    #sort_by button span
    {
        font-weight: bold;
    }
    #sort_by select
    {
        width: 60%;
        border-radius: 5px;
        font-size: 14px;
        position: absolute;
        top: 33px;
        right: 10px;
        opacity: 0;
    }
    #sort_by button:focus select
    {
        opacity: 1;
    }

    #H_C_F_Y-MQ-480-Icons
    {
        width: 20%;
        height: 40px;
        margin: -10px 20px 0 10%;
        /* background-color: lightblue; */
        display: flex;
    }
    #H_C_F_Y-MQ-480-Icons-Filter
    {
        width: 25%;
        height: 25px;
        margin: 5px 10% 5px 10%;
        /* background-color: red; */
        background: url(img/Equalizer\ \(Slider\ Upside\).svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    #H_C_F_Y-MQ-480-Icons-Sort-High-Price
    {
        width: 25%;
        height: 25px;
        margin: 5px 10% 5px 10%;
        /* background-color: red; */
        background: url(img/Top\ side\ List\ Arrow\ \(Sort-Ascending\).svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    /* ========================== */
    
    #H-C-All
    {
        width: 100%;
        height: auto;
        margin-top: 20px;
        /* background-color: lightgoldenrodyellow;   */
        display: flex;
        flex-wrap: wrap;
        row-gap: 25px;
        justify-content: space-between;
        border-bottom: 1px solid #ddd;
        padding-bottom: 20px;
    
        /* display: none; */
    }
    
    #H-C-Card-orange
    {
        width: 48%;
        height: 200px;
        /* background-color: lightblue; */
        border-radius: 10px;
        background: url(img/happiness\ gift\ card_3.png); 
        background-repeat: no-repeat;       
        background-size: 100% 200px;
        box-shadow: 50px 0px 150px black inset;
    }
    #H-C-Card-black
    {
        width: 48%;
        height: 200px;
        /* background-color: lightblue; */
        border-radius: 10px;
        background: url(img/Happiness\ card_\ April\ 2022-01_2.jpg);
        background-repeat: no-repeat;
        background-size: 100% 200px;
        box-shadow: 50px 0px 150px black inset;
    }
    .H-C-Card-title
    {
        padding: 15px 15px 0px 25px;
        font-size: 16px;
        font-weight: 900;
        font-family: 'Rubik', sans-serif;
        color: #fff;
    }
    .H-C-Card-price
    {
        padding: 10px 25px;
        color: #fff;
        font-size: 18px;
        font-weight: 900;
        font-family: 'Rubik', sans-serif;
    }
    #H-C-Card-Add_to_Cart-btn
    {
        width: 110px;
        height: 30px;
        font-size: 12px;
        font-weight: bold;
        background-color: #ea5607;
        color: #fff;
        border: none;
        border-radius: 50px;
        margin: 70px 0px 20px 25px;
        cursor: pointer;
    }
    #H-C-Card-Add_to_Cart-btn:hover
    {
        /* background-color: rgb(211, 56, 0); */
        background-color: #fc4412;
    }
    #H-C-Card-More_Info
    {
        /* width: 50%; */
        /* background-color: red; */
        color: #fff;
        font-size: 12px;
        font-weight: 900;
        font-family: 'Rubik', sans-serif;
        padding: 0px 5% 25px auto;
    }
    
    /* --- Happiness Card For You -> END --- */
    
    /* ===== H-C-SUB -> END ===== */
    /* ===== H-C-Main -> END ===== */
    
    
    
    
    
    
    
    
    
    
    /* ===== How to Reedem -> START ===== */
    
    #how_to_reedem-main
    {
        width: 100%;
        height: auto;
        margin-top: 270px;
        /* background-color: green; */

        /* display: none; */
    }
    
    #how_to_reedem-sub
    {
        width: 90%;
        height: auto;
        margin: 0 5%;
        /* background-color: whitesmoke; */
        position: relative;
    }
    /* ------------------------- */
    .H_T_R-heading
    {
        width: 100%;
        height: 80px;
        margin-top: 50px;
        /* background-color: lightblue; */
        font-size: 28px;
        font-weight: bold;
        color: black;
        text-align: center;
        line-height: 100px;
    }
    /* --------------------------- */
    .H_T_R-process
    {
        width: 100%;
        height: auto;
        /* background-color: lightcyan; */
        border-bottom: 1px solid #ddd;
        padding-bottom: 100px;
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
    }
    .H_T_R-process-part
    {
        width: 50%;
        height: inherit;
        margin-top: 50px;
        /* background-color: #d19772; */
    }
    .H_T_R-process-part-logo
    {
        width: 100%;
        height: 130px;
        /* background-color: lightskyblue; */
    }
    .H_T_R-image
    {
        width: 28%;
        height: 100px;
        margin: 0 36%;
        background-color: #fbf4f1;
        border-radius: 50%;
        text-align: center;
    }
    .H_T_R-image img
    {
        width: 60%;
        height: 60px;
        margin-top: 20px;
    }
    .H_T_R-process-part-title
    {
        width: 100%;
        height: 35px;
        /* background-color: lavender; */
        color: #966257;
        text-align: center;
        font-size: 20px;
        font-family: 'Rubik', sans-serif;
        font-weight: 900;
    }
    .H_T_R-process-part-para
    {
        font-size: 15px;
        text-align: center;
        line-height: 22px;
    }
    /* ------------------------ */
    .H_T_R-or
    {
        width: 60px;
        height: 60px;
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 50%;
        text-align: center;
        line-height: 60px;
        color: black;
        font-size: 20px;
        font-family: 'Rubik', sans-serif;
        font-weight: 900;
        
        position: absolute;
        left: 45%;
        top: 80.5%;
    }
    /* ----------------------------- */
    .R-F-outlet
    {
        width: 100%;
        height: 180px;
        /* background-color: lightskyblue; */
        color: #966257;
        text-align: center;
        line-height: 180px;
        font-size: 24px;
        font-weight: 900;
        text-shadow: 0 0 1px #966257;
        font-family: 'Rubik', sans-serif;   
    }
    
    /* ===== How to Reedem -> END ===== */
    
    
    
    
    
    


}